*{
    margin: 0%;
}
.header{
    background-color: beige;
    text-align: center;
    height: 100px;
}
.main{
    overflow: hidden;
}
.nav{
    background-color: white;
    text-align: center;
    height: 500px;
    width: 25%;
    float: left;
}
.article{
    background-color: rgb(216, 205, 56);
    text-align: center;
    height: 500px;
    width: 55%;
    float: left;
}
.ads{
    background-color: white;
    text-align: center;
    height: 500px;
    width: 20%;
    float: right;
}
.footer{
    background-color: beige;
    text-align: center;
    height: 100px;
}